<div class="failureBox">
    <div class="failure">
        {{#if life}}
        <div class="failureTips">革命尚未成功，同学还需努力
            你还有<span class="lifeAccount"><span class="number">{{life}}</span>次</span>机会！
        </div>
        <div class="failureBtn playAgain">再来一次</div>
        <div class="extendBtn tellOthers">转发得3次机会</div>>
        {{/if}}
        <div class="scoreBox">
            <div class="txt">本次得分</div>
            <div class="score">{{score}}</div>
        </div>
    </div>

</div>