<div class="langBg">
    <canvas id="canvas"></canvas>
    <canvas id="canvasDesk"></canvas>
    <!--<canvas id="clickScore"></canvas>-->
    <div class="topBar">
        <div class="timeBox">
            <div class="time">15</div>
            <div class="life">
                <span class="lifeNumber"></span>
                <span>x</span>
                <span class="lifeIcon"></span>
            </div>
        </div>
        <div class="gameScoreBox">0</div>
    </div>
</div>
<div class="gameStartTips">
    <div class="gameTipsBox">
        <div class="characterList">
            <div class="rightCharacter"></div>
            <div class="wrongCharacter"></div>
        </div>
        <div class="rightOrWrong">
            <div class="right"></div>
            <div class="wrong"></div>
        </div>
        <div class="gameTips1">
            点击写有“面试官”三个字的人
        </div>
        <div class="gameTips2">
            *注意不要点错哦*
        </div>
        <div class="Iknow">我知道了</div>
    </div>
</div>